profiles {
    docker {
        docker {
            enabled = true
            temp = 'auto'
        }
    }
}

/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/
params {
    help = false
    fastq_folder = "fastq_files"
    //manifest = false
    genome_fasta = "GRCh38.primary_assembly.genome.fa"
    model_name = "r1041_e82_400bps_sup_v500"
    bedfile = "region.bed"
    output_folder = "${launchDir}/output"
    sample_name = "sample"
}


/* -------- reporting and results -------- */

report {
    enabled     = true
    file        = "${params.output_folder}/reports/execution_report.html"
    overwrite   = true
}

timeline {
    enabled     = true
    file        = "${params.output_folder}/reports/timeline_report.html"
    overwrite   = true
}

manifest {
    name            = 'meryhidalgo/wf-gdna'
    author          = 'María Carazo Hidalgo'
    homePage        = 'https://github.com/meryhidalgo/wf-gDNA'
    description     = 'A pipeline to process gDNA data from ONT run. It performs variant calling with Clair3 and phasing with WhatsHap.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=22.10.1'
    version         = '1.1.2'
}