profiles {
    docker {
        docker {
            enabled = true
            temp = 'auto'
        }
    }
}

/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/
params {
    help = false
    fastq_folder = "fastq_files"
    //manifest = false
    genome_fasta = "GRCh38.primary_assembly.genome.fa"
    output_folder = "${launchDir}/output"
    sample_name = "sample"
}
